.contents {
  display: inline-flex;
  width: 1200px;
}

.msg{
  margin-top: 20px;
  margin-left: 20px;
  background-color: #F9F9F9;
}

.msg_info{
  padding: 5px;
  display: inline-flex;
  width: 800px;
}

.msg_channel{
  width: 300px;
  margin-left: 100px;
  text-align: left;
}

.msg_name{
  width: 50%;
  max-width: 200px;
}

.msg_timestamp{
  text-align: right;
}

.msg_content{
  padding: 10px;
  background-color: #F0F0F0;
}

.msg_body {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 800px;
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  border-spacing: 0;
}

.ch_title{
  position: sticky;
  top: 0px;
  background-color: #FFFFCC;
  padding: 10px;
}

.channel_code{
  font-size: xx-small;
  color: #FFFFFF33;
}


.search_bar{
  width:100px;
}

