<?php
define('DB_MODE','SQLite');
$dbFilePath = 'SlackLog.db';
$filesDirPath = 'files';
$defaultChannelCode = 'XXXXXXXXXXX';

// DB_MODEがMySQLの場合に適用
define('DB_HOST',     '');    // データベースのホスト名,IPアドレス,Dockerサービス名
define('DB_NAME',     '');    // データベース名
define('DB_USERNAME', '');    // データベースのユーザー名
define('DB_PASSWORD', '');    // データベースのパスワード

?>